$colorTextHover: rgb(57, 112, 59);
$borderColorHover: #00b3ffc6;
$colorLightHover:#fffee7;


.bg-info {
    background: #bfdfff !important;
}

.bg-secondary {
    background: #c2cad180 !important;
}

.rounded-4 {
    border-radius: 10px;
}

.fs-me {
    text-decoration: none;
    color: black;
}

.fs-me-light {
    text-decoration: none;
    color: $colorLightHover;
}

.hover-box {
    transition: all 0.5s;

    &:hover,
    &:focus {
        color: $colorTextHover;
        // transform: matrix(1.2);
        box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.7);
    }
}

.hover-text {
    transition: all 0.5s;

    &:hover,
    &:focus {
        color: $colorTextHover;
        // transform: scale(1.1) !important;
        border-color: $borderColorHover !important;
    }
}

.btn-circle {
    width: auto;
}

.text-noUnderline{
    text-decoration: none;
}

.shadow-text{
    text-shadow: 1px 1px 4px black;
    &:hover{
        text-shadow: 1px 1px 7px black;
    }
}

.set-icon{
    width: 50px;
}