* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #A2AF9F, #96AFB8);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.continer {
    width: 100%;
    background-color: rgb(98, 218, 240);
}


/* block header */

div.header {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}


/* logo and title */

div.poster {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin: 3em;
}

div.logo img {
    width: 320px;
    height: auto;
}

div.title {
    margin-bottom: 40px;
}


/* meno titer */

div.main {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    height: 2em;
    display: flex;
    align-items: center;
}

div.main ul {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    align-content: center;
}

ul.meno a {
    display: inline-block;
    text-decoration: none;
    color: rgb(222, 248, 223);
    border: 1px solid white;
    padding: 2px;
    width: 90px;
    margin: 0 10px;
    transition: 0.9s;
}

ul.meno a:hover {
    transform: scale(1.2, 1.2) translateY(10px);
    color: black;
    background-color: white;
    border: 1px solid rgb(79, 105, 6);
}

ul.meno li {
    list-style: none;
    text-align: center;
}


/* logo html css js */

div.contant {
    width: 100%;
}

div.logopro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
}

div.logopro img {
    width: 180px;
    height: auto;
    transition: 1s;
}

div.logo_two img {
    width: 139px;
}

div.logopro img:hover {
    transform: translateY(-20px);
}


/* contant */

div.contant {
    width: 100%;
    background-color: rgb(102, 102, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* textarea >>> body element */

div.form_one {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Tahoma;
    margin: 10px auto;
}

.text_box_one {
    border: 0;
    outline: 0;
    border-width: 0;
    background-color: rgb(158, 158, 158);
    width: 60%;
    height: 560px;
    direction: ltr;
    border-radius: 15px;
    margin: 30px auto;
    padding: 5px;
}